.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #4b9cdb;
}

@keyframes jumpingAnimation {
    0 {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(0, 15px, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(0, 15px, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

.container .dot:nth-last-child(1) {
    animation: jumpingAnimation 0.6s 200ms ease-in infinite;
}

.container .dot:nth-last-child(2) {
    animation: jumpingAnimation 0.6s 200ms ease-in infinite;
}

.container .dot:nth-last-child(3) {
    animation: jumpingAnimation 0.6s 200ms ease-in infinite;
}

.container .dot:nth-last-child(4) {
    animation: jumpingAnimation 0.6s 200ms ease-in infinite;
}

.container .dot:nth-last-child(5) {
    animation: jumpingAnimation 0.6s 200ms ease-in infinite;
}